# Basic Data Types

## Defining a Variable

In [3]:
x = 6 # int 
y = 9
z = "string"
r = 'string'
s = """ 

salam chetoory
 
halet chetoore

khanevadeh khooban?

baba khoobe??

che khabar?
"""

h = ''' 
salam chetoory

halet chetoore

khanevadeh khooban?

baba khoobe??

che khabar?
'''

In [2]:
print(x)

6

In [4]:
x
y
z
r
s
h

' \nsalam chetoory\n\nhalet chetoore\n\nkhanevadeh khooban?\n\nbaba khoobe??\n\nche khabar?\n'

In [5]:
x

6

In [7]:
print(x)
y

6

9

In [8]:
type(x)

int

In [5]:
1x

SyntaxError: invalid decimal literal (1973045331.py, line 1)

In [9]:
2 * x

12

 # string

In [6]:
name = 'Ryan'

In [7]:
type(name)

str

In [8]:
type(x)

int

In [10]:
z = str(x)

In [14]:
type(z)
z = "89p"
int(z)

ValueError: invalid literal for int() with base 10: '89p'

## Numbers

In [9]:
type(1.5)

float

In [ ]:
1.23456789

In [ ]:
12345678.9

In [10]:
type(2j)

complex

In [15]:
1j * 1j

(-1+0j)

## Strings

In [12]:
'String 1 ' + 'String 2'

'String 1 String 2'

In [13]:
'1' + '1'

'11'

In [14]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

## Booleans

In [15]:
True

True

In [16]:
False

False

In [16]:
true = True

In [19]:
1 == 1

True

In [20]:
1 == 2

False